body {
  background-color: #2d3436 !important;
  color: #dfe6e9 !important;
}
h3,
h2 {
  color: #74b9ff;
}
p {
  padding-left: 5px;
  margin-bottom: 8px !important;
}
.header {
  text-align: center;
  justify-content: center;
}
.misc {
  font-size: 12px;
  background-color: #636e72;
  border-radius: 10px;
}
.misc p {
  margin-bottom: 5px;
}
.cinemas {
  font-size: 18px;
  padding-bottom: 40px;
}
#push {
  color: #0984e3;
  padding-left: 5px;
}
.showtimes {
  margin-bottom: 10px;
  border: 1px solid #74b9ff;
  border-radius: 5px;
}
.showtimes span {
  font-size: 20px;
}
.showtimes .true {
  color: #fdcb6e;
}
.title {
  color: #d63031;
}
.start {
  color: #ff7675;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table time {
  color: #dddddd;
}

/* DivTable.com */
.divTable {
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
